html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite,
code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video 
{	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, 
section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, 
q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}

body {
	font-family: 'Open Sans', sans-serif;

}

#summerfest-header {
	background-image: url('../images/summerfest-header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 100%;
}

#header-phone {
	margin: 0 auto;
	display: block;
	padding-top: 26px;
	width: 220px;
	height: auto;
}

#back {
	padding: 12px;
	color: white;
	position: absolute;
	top: 0;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
	text-align: left;
	width: 55%;
	margin: 0 auto;
	padding-top: 44px;
	max-width: 1046px;
}

h2 {
	font-size: 2.5rem;
	font-weight: 700;
	font-style: italic;
	padding-top: 18px;
	padding-bottom: 24px;
}

h3 {
	font-size: 2rem;
	font-weight: 700;
	display: inline;
}

h4 {
	font-size: 1.2rem;
	font-weight: 600;
	font-style: italic;
	padding-bottom: 12px;
}

p {
	font-weight: 300;
	line-height: 2rem;
}

main {
	width: 55%;
	margin: 0 auto;
	padding-top: 32px;
	max-width: 1046px;
}

main span {
	font-weight: 700;
	font-style: italic;
}

article {
	padding-bottom: 36px;
	max-width: 1046px;
}

#synopsis {
	padding-top: 48px;
}

.lineup {
	width: 100%;
	padding-top: 12px;
	max-width: 1046px;
}

.indent {
	text-indent: 2rem;
}

ol li {
	padding-left: 4rem;
	line-height: 2rem;
}

.search-old, .search-new {
	margin: 0 auto;
	display: block;
	padding-bottom: 36px;
	width: 100%;
}

.search-new {
	padding-bottom: 0;
}

.more-info {
	width: 45%;
	margin: 0 auto;
	display: block;
	padding-bottom: 36px;
}

@media only screen and (max-width:900px) {
	main { width: 90%; }
	h1 { width: 90%; }
}

@media only screen and (max-width:480px) {
	#summerfest-header { height: 400px; }
	#header-phone { padding-top: 42px; width: 160px; }
	main { width: 95%; }
	h1 { font-size: 2rem; width: 95%; }
}